!*.c
!*.h
*.log
*.bak
*.dep
*.uvgui.*
JLinkLog.txt 
*.o
*.d
*.crf
*.tra
*.axf
*.hex
*.lnp
*.sct
*.__i
*.htm
*.html
*.doc
*.map
*.lst
*.plg
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.SearchResults
*.WK3

